@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Oswald", sans-serif;
  width: 100vw;
  overflow-x: hidden;
}

#slider1 {
  background-image: url(assets/slider1.png);
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
  aspect-ratio: 2 / 1;
  box-shadow: -15px 15px 0px #83b5b9;
}

.shadow {
  box-shadow: -10px 10px 0px #83b5b9;
}

@media (max-width: 639px) {
  #slider1 {
    aspect-ratio: 1 /2;
    background-position: center;
  }
}

.stroke {
  -webkit-text-stroke: 2px black;
  color: white;
}

.atk-div {
  columns: 400px;
  column-gap: 1rem;
}
